In [3]:
import  pandas as pd

In [1]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("/content/titanic.csv")
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df = df.drop(["PassengerId","Name","Ticket","Cabin"],axis = 1)

In [7]:
Age_median = df["Age"].median()

In [8]:
df["Age"] = df["Age"].fillna(value = Age_median)

In [9]:
df = df.dropna()

In [10]:
df["Sex"] = df["Sex"].astype("category")
df["Embarked"] = df["Embarked"].astype("category")
df["Pclass"] = df["Pclass"].astype("category")

In [11]:
dfx = df.drop("Survived", axis =1 )

In [12]:
dfy = df["Survived"]

In [13]:
dfx = pd.get_dummies(dfx)

In [ ]:
# 1) Train-test split
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [15]:
dfx.head(2)

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,False,False,True,False,True,False,False,True
1,38.0,1,0,71.2833,True,False,False,True,False,True,False,False

In [16]:
X = dfx.values
y = dfy.values

In [18]:
X[0]

array([22.0, 1, 0, 7.25, False, False, True, False, True, False, False,
       True], dtype=object)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [22]:
X_train.shape

(711, 12)

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
# 2) Feature scaling (very important for ANN)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test  = scaler.transform(X_test)

In [ ]:
# 3) Build ANN
import tensorflow as tf
from tensorflow import keras

<h3 align="center">ANN Architecture (Titanic Dataset)</h3>

<p align="center">
Input Features<br>
↓<br>
Dense(64, ReLU) – simple patterns<br>
↓<br>
Dense(32, ReLU) – combined patterns<br>
↓<br>
Dense(1, Sigmoid) – survival probability
</p>

In [27]:
import tensorflow
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from keras.datasets import mnist

In [28]:
X_train.shape[1]

12

In [29]:
model = keras.Sequential()

# Input + first hidden layer
model.add(keras.layers.Input(shape=(X_train.shape[1],)))
model.add(keras.layers.Dense(64, activation="relu"))

# Second hidden layer
model.add(keras.layers.Dense(32, activation="relu"))

# Output layer
model.add(keras.layers.Dense(1, activation="sigmoid"))

In [30]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [32]:
768 +64

832

In [35]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [37]:
history = model.fit(
    X_train, y_train,
    validation_split=0.2,
    epochs=15,
    batch_size=32
)

Epoch 1/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.7913 - loss: 0.4447 - val_accuracy: 0.8042 - val_loss: 0.4437
Epoch 2/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.8223 - loss: 0.4062 - val_accuracy: 0.8182 - val_loss: 0.4388
Epoch 3/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.8386 - loss: 0.3891 - val_accuracy: 0.8042 - val_loss: 0.4401
Epoch 4/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 21ms/step - accuracy: 0.8079 - loss: 0.4219 - val_accuracy: 0.7972 - val_loss: 0.4420
Epoch 5/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 45ms/step - accuracy: 0.8361 - loss: 0.3863 - val_accuracy: 0.8042 - val_loss: 0.4428
Epoch 6/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8313 - loss: 0.3920 - val_accuracy: 0.8042 - val_loss: 0.4379
Epoch 7/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.8638 - loss: 0.3446 - val_accuracy: 0.8112 - val_loss: 0.4435
Epoch 8/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.8391 - loss: 0.3637 - val_accuracy: 0.7902 - val_loss: 0.4503
Epoch 9/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.8305 - loss: 0.4011 - val_accuracy: 0.7972 - val_loss: 0.4501
Epoch 10/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - accuracy: 0.8703 - loss: 0.3461 - val_accuracy: 0.8112 - val_loss: 0.4459
Epoch 11/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.8569 - loss: 0.3598 - val_accuracy: 0.8042 - val_loss: 0.4530
Epoch 12/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.8570 - loss: 0.3734 - val_accuracy: 0.8042 - val_loss: 0.4547
Epoch 13/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8426 - loss: 0.3607 - val_accuracy: 0.8112 - val_loss: 0.4535
Epoch 14/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8391 - loss: 0.3774 - val_accuracy: 0.8112 - val_loss: 0.4546
Epoch 15/15
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8556 - loss: 0.3520 - val_accuracy: 0.8112 - val_loss: 0.4596

In [38]:
# 4) Evaluate
loss, acc = model.evaluate(X_test, y_test, verbose=0)
print("Test Accuracy:", acc)

Test Accuracy: 0.8033707737922668